.comment {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 224, 202);
  margin-top: 2em;
}
.comment-button {
  position: relative;
  left: 0em;
  width: 100%;
  font-weight: bold;
  height: 2em;
  border: 1px solid black;
}
.individual-comment {
  margin: 1em 1em 1em 1em;
  border: 2px solid;
  padding: 1em 1em 1em 1em;
  background-color: rgb(240, 231, 220);
}
